@import "tailwindcss";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* BASE */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #ffffff;
  overflow-x: hidden;
}

/* BACKGROUND GLOW BLOBS */
body::before,
body::after {
  content: "";
  position: fixed;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.35),
    transparent 70%
  );
  filter: blur(120px);
  z-index: -1;
}

body::before {
  top: -100px;
  left: -100px;
}

body::after {
  bottom: -100px;
  right: -100px;
}
