@import "tailwindcss";


html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #ffffff;
  overflow-x: hidden;
}


body::before,
body::after {
  content: "";
  position: fixed;
  width: 420px;
  height: 420px;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.18),
    transparent 70%
  );
  filter: blur(160px);
  z-index: -1;
}

body::before {
  top: -120px;
  left: -120px;
}

body::after {
  bottom: -120px;
  right: -120px;
}
@keyframes float{
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-orbit {
  animation: orbit 18s linear infinite;
}
.orbit {
  animation: orbit 18s linear infinite;
}

.orbit-slow {
  animation: orbit 28s linear infinite;
}

.orbit-fast {
  animation: orbit 12s linear infinite;
}
@keyframes floatSlow {
  0% {
    transform: translateY(-50%) translateY(0);
  }
  50% {
    transform: translateY(-50%) translateY(-10px);
  }
  100% {
    transform: translateY(-50%) translateY(0);
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.animate-arrow {
  animation: arrow 1.8s infinite ease-in-out;
}
